body {
    background-color: #f8f4e3;
    min-height: 100vh;
}

nav {
    background-color: #f8f4e3;
}

.primary-color {
    background-color: #558C8C;
    color: antiquewhite;
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

#pcolor {
    background-color: #1E3231;
}

#scolor {
    background-color: #d16666;
}
