body {
    background-color: #14213d;
    min-height: 100vh;
}

nav, #sidebar {
    background-color: #fca311;
}

.primary-color {
    background-color: #fca311;
    color: antiquewhite;
}

footer {
    position: relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

#pcolor {
    background-color: #1E3231;
}

#scolor {
    background-color: #d16666;
}

h1, h3, p {
    color: white; 
}

.navLink {
    color: white;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

.navLink:hover {
    color: white;
    background-color: #0d6dfd73;
}

.active {
    color: white;
    background-color: #0d6efd;
}