body {
    background-color: #14213d;
    min-height: 100vh;
}

nav {
    background-color: #fca311;
}

.primary-color {
    background-color: #fca311;
    color: antiquewhite;
}

footer {
    position: relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

#pcolor {
    background-color: #1E3231;
}

#scolor {
    background-color: #d16666;
}

h1, h3, p {
    color: white; 
}