body {
    background-color: #14213d;
    color: antiquewhite;
    min-height: 100vh;
}

nav {
    background-color: #fca311;
}

.primary-color {
    background-color: #fca311;
    color: antiquewhite;
}

footer {
    position: relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

.book-details .book-cover {
    margin: 0;
    position: relative;
    top: 50%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.book-details .buy-button {
    position: relative;
    left: 15%;
    bottom: 15%;
    height: 10vh;
    width: 50%;
    font-size: x-large;
}

table {
    background: ghostwhite;
}
