on: push
name: CI
jobs:
  phpunit:
    runs-on: ubuntu-latest
    container:
      image: kirschbaumdevelopment/laravel-test-runner:7.3
      
    services:
      # Label used to access the service container
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
 
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    
    - name: Update composer dependencies
      run: |
        composer update -q --no-ansi --no-interaction --no-progress --prefer-dist
 
    - name: Install composer dependencies
      run: |
        composer install -q --no-ansi --no-interaction --no-progress --prefer-dist
 
    - name: Setup PHP
      with:
        php-version: '8.0'
        
    - name: Prepare Laravel Application
      run: |
        cp .env.ci .env
        php artisan key:generate
        php artisan migrate:fresh --seed
 
    - name: Run Testsuite
      env:
          # The hostname used to communicate with the PostgreSQL service container
          POSTGRES_HOST: postgres
          # The default PostgreSQL port
          POSTGRES_PORT: 5432
      run: vendor/bin/phpunit tests/
