on: push
name: CI
jobs:
  phpunit:
    runs-on: ubuntu-latest
    container:
      image: kirschbaumdevelopment/laravel-test-runner:7.3
 
    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 21190
          POSTGRES_DB: pageguild
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
 
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    
    - name: Update composer dependencies
      run: |
        composer update -q --no-ansi --no-interaction --no-progress --prefer-dist
 
    - name: Install composer dependencies
      run: |
        composer install -q --no-ansi --no-interaction --no-progress --prefer-dist
 
    - name: Prepare Laravel Application
      run: |
        cp .env.example .env
        php artisan key:generate
 
    - name: Run Testsuite
      run: vendor/bin/phpunit tests/
